@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.body {
    background: rgb(0 157 220);
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Google Sans", sans-serif;
}